---
layout: default
title: Team Members
permalink: /team
---

{% include home-one-header.html %}
<main class="main-area">
  {% include sidebar-nav.html %}

  <div class="main-content">
    {% include breadcrumb.html %}
    <div class="container">
      <div class="row">
        <div class="col-md-12 pt-5 pt-md-8">
          <h1 class="page-title-heading">{{page.title}}</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 pt-4 pb-5 pb-md-8">
          <div class="page-wrapper">


            <p>Hands as expecting I are to reached shall ahead expectations. A they external at had and a sacred,
              parents' go in his links I and pointing like as sofa do fall but peace king's a human me where the like
              it of company until prayers had the tin, and logged.
            </p>


            <h4>Management team</h4>
            <p>Series is including a that concept were he the than this allows posts, willingly outcomes as an
              derisively.</p>
            <div class="row my-3">
              {% for member in site.data.team-members %}
              <div class="col-md-6 col-lg-3">
                {% include member-card.html %}
              </div>
              {% endfor %}
            </div>

          </div>
        </div>
      </div>
    </div>
    
    {% include footer.html %}
  </div>
</main>
<!--  ====================== Main Area End =============================  -->