<!--  =============Company Area ============  -->
<div id="certificates" class="company-area py-5 py-md-8 bg-light overflow-hidden">
	<div class="container">
		<div class="row">
			<div class="col-md-10">
				{% if page.lang == "en"%}
                <div class="section-title mb-5">
					<span class="text-success">Advanced Trainings</span>
					<h2>Certificates</h2>
					<div class="section-label my-2"></div>
					<p> I have successfully completed the following training courses:</p>
				</div>
                {% else %}
                <div class="section-title mb-5">
					<span class="text-success">Weiterbildungen</span>
					<h2>Zertifikate</h2>
					<div class="section-label my-2"></div>
					<p> Ich habe folgende Weiterbildungskurse erfolgreich abgeschlossen:</p>
				</div>
                {% endif%}
				
			</div>
		</div>

		<div class="position-relative">

			<div class="company-slider">
				{% for certificate in site.data.certificates %}
				<div class="company-item">
					<img src="{{certificate.logo | relative_url}}" alt="{{certificate.name}}">
					<h5>{{certificate.name}}</h5>
					<p class="m-0">
						{% if page.lang == "en"%}
						<a href={{certificate.website_url}}>See More</a>
						{% else %}
						<a href={{certificate.website_url}}>Mehr dazu</a>
						{% endif %}
					</p>
				</div>
				{% endfor %}
			</div>
			<div class="slider-arrows">
				<button class="slider-prev"><i class="fas fa-arrow-left"></i></button>
				<button class="slider-next"><i class="fas fa-arrow-right"></i></button>
			</div>
		</div>
	</div>
</div>