<!--  =============Company Area ============  -->
<div id="clients" class="company-area py-5 py-md-8 bg-light overflow-hidden">
	<div class="container">
		<div class="row">
			<div class="col-md-10">
				<div class="section-title mb-5">
					<span class="text-success">My faovorite clients</span>
					<h2>My Clients</h2>
					<div class="section-label my-2"></div>
					<p>The he bit of state willingly never rest make essay to forth. Which laminated in have
						installer. And shortcuts.</p>
				</div>
			</div>
		</div>

		<div class="position-relative">

			<div class="company-slider">
				{% for client in site.data.clients %}
				<div class="company-item">
					<img src="{{client.logo | relative_url}}" alt="{{client.name}}">
					<h5>{{client.name}}</h5>
					<p class="m-0">
						{{client.website_url}}
					</p>
				</div>
				{% endfor %}
			</div>
			<div class="slider-arrows">
				<button class="slider-prev"><i class="fas fa-arrow-left"></i></button>
				<button class="slider-next"><i class="fas fa-arrow-right"></i></button>
			</div>
		</div>
	</div>
</div>