<!--  ============= Contact Area ============  -->
<div id="contact" class="contact-area my-5 my-md-8">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 m-auto">
                {% if page.lang == "en" %}
                <div class="mb-5 text-left">
                    <h2>Contact</h2>
                    <p>Contact me if you have any questions or would like to request an offer.</p>
                </div>
                {% else %}
                <div class="mb-5 text-left">
                    <h2>Kontakt</h2>
                    <p>Nehmen Sie gerne Kontakt mit mir auf, wenn Sie Fragen haben oder ein Angebot einholen wollen.</p>
                </div>
                {% endif %}
                {% include contact-form.html %}

            </div>
        </div>
    </div>
</div>