<!--  ============= Service Area ============  -->
<div id="experience" class="timeline-area py-5 py-md-8">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <div class="section-title mb-5">
                    <span class="text-success">My professional background</span>
                    <h2>Experience</h2>
                    <div class="section-label my-2"></div>
                    <p>{% include experience_text.html %}
                    </p>
                </div>
            </div>
        </div>
        {% include sections/timeline-section.html %}
    </div>
</div>