<div class="service-area py-5 py-md-8">
<div class="container">
  <div class="row">
    <!--  ============= Gallery Area ============  -->

    <div class="gallery-area ">

      <div class="row">
        {% for gallery_item in site.data.galleries %}
        <div class="col-md-6 col-lg-4 {{gallery_item.filter_class}}">
          <div class="gallery-item mt-3">
            <img src="{{gallery_item.img_src | relative_url}}" alt="{{gallery_item.name}}" class="img-fluid">
            <div class="gallery-overlay">

              <a href="{{gallery_item.img_src | relative_url}}" class="gallery-popup gallery-icon bg-success"><i
                  class="fas fa-eye"></i></a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
</div>