<!--  ============= Banner Area ============  -->
<div id="home" class="banner-area py-5 py-lg-8 mvh-100 d-flex align-items-center">
    <div class="container">
        <div class="position-relative">
            <div class="banner-slider">
                {% for slide in site.data.banner_sliders %}
                    <div class="banner-item">
                        <div class="row d-flex align-items-center">
                            <div class="col-md-8">
                                <div class="banner-content mb-md-0 mb-4">
                                    <p class="fw-bold text-success" data-animation="fadeIn" data-delay="0.1s">{{slide.slide_tag}}</p>
                                    <h1 class="display-4 my-3" data-animation="fadeIn" data-delay="0.3s">{{slide.title}}</h1>
                                    <p class="mb-0" data-animation="fadeIn" data-delay="0.5s">{{slide.description}}</p>
                                    <a href="{{slide.url | relative_url}}" class="btn btn-success mt-4" data-animation="zoomInUp"
                                        data-delay="0.7s">View Services<i
                                            class="far fa-arrow-alt-circle-right ms-2"></i></a>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="banner-image" data-animation="fadeInRightBig" data-delay="0.5s"><img
                                        src="{{slide.image | relative_url}}" alt="{{slide.title}}"></div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="banner-slider-arrows">
                <button class="banner-slider-prev bg-info border-0 px-2 py-1 text-primary"><i
                        class="fas fa-arrow-left"></i></button>
                <button class="banner-slider-next  bg-info border-0 px-2 py-1 text-primary"><i
                        class="fas fa-arrow-right"></i></button>
            </div>
        </div>
    </div>
</div>