<!--  ============= Portfolio Area ============  -->
<div id="portfolio" class="portfolio-area my-5 my-md-8 ">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <div class="section-title mb-5">
                    <span class="text-success">Work what i did</span>
                    <h2>My Portfolio</h2>
                    <div class="section-label my-2"></div>
                    <p>Internet a often what that and allow there be thousand minutes. Plot films the go I
                        to warned paper make wow over human our as achievements been its refute. Has
                        endeavours and little than that parents' should hall a alone a and counter.</p>
                </div>
            </div>
        </div>
        <div class="row">
            {% for portfolio in site.portfolios limit:32 %}
                <div class="col-lg-6 col-xl-4">
                    <div class="portfolio-item mt-3">
                        <img class="w-100" src="{{portfolio.img_src | relative_url}}" alt="{{portfolio.title}}">
                        <div class="portfolio-overlay">                       
                            <div class="portfolio-info">
                                <p  class="badge bg-success fw-light mb-0">{{portfolio.project_name}}</p>
                                <h5 class="mb-3 fw-normal mt-1"><a class="text-white" href="{{portfolio.url | relative_url}}">{{portfolio.title}}</a></h5>
                              
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>
</div>