<!--  ============= Timeline Area ============  -->
<div id="projects" class="timeline-area my-5 my-md-8">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="timeline-item my-3">
                    {% if page.lang == "en"%}
                    <h2 class="mb-4">My <span class="text-success">Projects</span></h2>
                    {% else %}
                    <h2 class="mb-4">Meine <span class="text-success">Projekte</span></h2>
                    {% endif%}
                    {% for timeline in site.data.projects %} 
                    {% if timeline.lang == page.lang %}
                    {% include timeline.html %}
                    {% endif %}
                    {% endfor %}
                </div>
        </div>
    </div>
</div>