<!--  ============= Service Area ============  -->
<div id="services" class="service-area py-5 py-md-8 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <div class="section-title mb-5">
                    <span class="text-success">Services what i offer</span>
                    <h2>My Services</h2>
                    <div class="section-label my-2"></div>
                    <p>A as rent still pattern. Gods, peacefully, in few needed arrive kind samples period,
                        of deference two a the home, written groundtem, calculus his look made motivator.
                    </p>
                </div>
            </div>
        </div>
        <div class="row mb-5">
            {% for service in site.services limit:6 %}
            <div class="col-lg-6 col-xl-4">
                {% include service-card.html %}
            </div>
            {% endfor %}
        </div>
        <a href="{{'/all-services' | relative_url}}"><button  data-aos="slide-up"  data-aos-duration="6000"  type="button"
            class="btn btn-outline-success mx-auto mx-md-0 d-block">View all
                service</button></a>
    </div>
</div>