<!--  =============Testimonial Area ============  -->
<div id="testimonial" class="testimonial-area my-5 my-md-8">
    <div class="container">
        <div class="section-title mb-5">
            <span class="text-success">Testimonial</span>
            <h2>Our Client's Say</h2>
            <div class="section-label my-2"></div>
            <p>Internet a often what that and allow there be thousand minutes. Plot films the go I to warned
                paper make wow over human our as achievements been its refute. Has endeavours and little
                than that parents' should hall a alone a and counter.</p>
        </div>
        <div class="row">
            {% for testimonial in site.data.testimonials %}
            <div class="col-lg-6">
                {% include testimonial-card.html %}
            </div>
            {% endfor %}

        </div>
    </div>
</div>