<form class="contact-form" method="POST" action="https://formspree.io/mknqezny">
    <div class="row">
        <div class="col-md-4">
            <div class="mb-3">
                <input type="text" name="Name" class="form-control"
                        placeholder="Name"> 
            </div>
        </div>
        <div class="col-md-4">
            <div class="mb-3">
                <input type="text" name="Subject" class="form-control" placeholder="Subject">
            </div>
        </div>
        <div class="col-md-4">
            <div class="mb-3">
              <input type="email" name="Email" class="form-control"
                        placeholder="Email"> 
            </div>
        </div>
        <div class="col-md-12">
            <div class="mb-4">
                <textarea class="form-control" name="Message" rows="8" placeholder="Write Message"></textarea>
            </div>
        </div>

    </div>
    <div class="text-center"><button type="submit" class="btn btn-outline-success">Send
            Message</button></div>
</form>

