<p>I have <strong>more than 10 years of practical experience as a Data Scientist, AI expert, image analysis specialist and Python developer</strong>. I use AI methods pragmatically and can critically assess their benefits.</p>
<p>As a long-time <strong>leader of a data analysis service department</strong> in a scientific environment, I have gained experience in <strong>project management and personnel recruitment</strong> and actively participated in the development of new technologies.</p>
<p>As a Data Scientist in the field of wholesale and distribution, <strong>I know the requirements of medium-sized companies</strong> and can develop customized solutions in the field of AI and data engineering with a sense of proportion for the respective budget framework.</p>
<p>Among others, I have worked on the following use cases:</p>
<ul>
<li>Prediction of <strong>sales figures</strong> (wholesale and retail)</li>
<li>Processing and analysis of <strong>sensor data</strong> (biotechnology)</li>
<li>Automated <strong>object recognition</strong> in medical <strong>image data</strong> (Biomedical Research).</li>
<li><strong>Data Science Consulting</strong> and and <strong>Data Engineering</strong> for the development of new therapies (drug discovery, pharma)</li>
<li>Backend and frontend development of <strong>web based BI dashboards</strong> (investment banking).</li>
</ul>
