<!--  ============= Footer Area ============  -->
<footer class="footer-area bg-light">
  <div class="footer-top py-4 py-md-6">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-3">
          <div class="footer-widget my-3">
            <a href="{{'/' | relative_url }}" class="footer-logo mb-4"><img
                src="{{'/assets/images/moehl-data-services-logo.png' | relative_url}}" alt="{{site.title}}"></a>
            <p class="m-0">Dorfstraße 58 A, 53125 Bonn, Germany</p>
            <p class="m-0">+123 456 7890</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="footer-widget my-3">
            <ul class="footer-list list-inline">
              <li><a href="{{'/' | relative_url }}">Home</a></li>
              <li><a href="{{'/impressum' | relative_url }}">Impressum</a></li>
              <li><a href="{{'/datenschutzerklaerung' | relative_url }}">Datenschutzerklärung</a></li>
              <li><a href="{{'/downloads/agb_moehl_data_services.pdf' | relative_url }}">AGB</a></li>
            </ul>
          </div>
        </div>
        
        
      </div>
    </div>
  </div>
  <div class="footer-bottom border-top py-2">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p class="copyright-text my-2">©<script>
              document.write(new Date().getFullYear())
            </script> Möhl Data Services</p>
        </div>
        <div class="col-md-6">
          <ul class="social-share-link my-2 list-inline text-md-end">
            {% if site.facebook %}
            <li class="list-inline-item"><a href="{{site.facebook | relative_url}}"><i class="fab fa-facebook-f"></i></a></li>
            {% endif %}
            {% if site.twitter %}
            <li class="list-inline-item"><a href="{{site.twitter | relative_url}}"><i class="fab fa-twitter"></i></a></li>
            {% endif %}
            {% if site.instagram %}
            <li class="list-inline-item"><a href="{{site.instagram | relative_url }}"><i class="fab fa-instagram"></i></a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>