<header class="header-area bg-light px-md-5 d-xl-none">
    <nav class="header-navbar navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{'/' | relative_url}}"><img src="{{'/assets/images/brand-logo2.png' | relative_url}}" alt="{{site.title}}"></a>
            <button class="sidebar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbar"
                aria-expanded="false">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
    </nav>
</header>