{% assign author = site.authors | where: 'author_id', post.author_id | first %}
<div class="blog-item mt-4">
    {% if post.post_image %}
    <div class="blog-image"> <img class="w-100" src="{{post.post_image | relative_url}}" alt="{{post.title}}">
    </div>
    {% endif %}
    <div class="blog-content bg-white p-4">     
        <h5><a href="{{post.url | relative_url}}">{{post.title}}</a>
        </h5>
        <div class="author-bottom d-flex justify-content-between align-items-center mt-3">
            <div class="author-info">
                <img src="{{author.image | relative_url}}" alt="{{author.name}}">
                <div class="author-info-content">
                    <p class="m-0">{{author.name}}</p>
                    <p class="small m-0"><span> {{post.date | date: '%d %b %Y'}}</span></p>
                </div>
            </div>
            {% include social-share.html %}
        </div>
    </div>
</div>