<li class="list-group-item list-group-item-action">
    <div class="card" id="{{ project.id}}">
        <div class="card-body">
            <h5 class="card-title">{{project.title}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{project.year}} {{project.institute}}</h6>
            <p class="card-text">{{project.description}}</p>
            {% if project.description_long %}
            <p class="card-text">{{project.description_long | markdownify}}</p>
            {% endif  %}
            {% if project.tasks %}
            <p class="card-text"><h6>Tasks:</h6><ul>{% for task in project.tasks %}<li>{{task}}</li>{% endfor %}</ul></p>
            {% endif  %}
            {% if project.tools %}
            <p class="card-text"><h6>Tools:</h6>{% for tool in project.tools %}<span class="badge rounded-pill text-dark">{{tool}}</span>{% endfor %}</p>
            {% endif %}
            {% if project.link %}
            <a href="{{ project.link.href }}" class="card-link">{{ project.link.text }}</a>
            {% endif %}
        </div>
        </div>
    </li>