<div class="testimonial-item mt-3">
    <div class="testimonial-feedback">
        <p class="m-0">{{testimonial.review}}</p>
    </div>
    <div class="testimonial-content">
        {% if testimonial.image %}
        <img src="{{testimonial.image | relative_url}}" alt="{{testimonial.name}}">
        {% endif %}
        <div class="content-right">
            <h6 class="text-success m-0">{{testimonial.name}}</h6>
            <span>{{testimonial.country}}</span>
            <div class="review-rate">
                {% if testimonial.rating == 5 %}
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                {% elsif testimonial.rating == 4 %}
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                {% elsif testimonial.rating == 3 %}
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                {% elsif testimonial.rating == 2 %}
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                {% elsif testimonial.rating == 1 %}
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                {% endif %}
            </div>
        </div>
    </div>

</div>