<div class="timeline-single mb-4">
    <p><span class="btn btn-info btn-sm text-success me-2">{{timeline.year}}</span> {{timeline.institute}}</p>
    </p>
    <div class="timeline-content border-start">
        <h5>{{timeline.title}}</h5>
        <p>{{timeline.description}}</p>
        {% if timeline.id %}
        {% if page.lang == "en" %}
        <a href="/projects-en/#{{ timeline.id }}">See More</a>
        {% else %}
        <a href="/projects-de/#{{ timeline.id }}">Mehr dazu</a>
        {% endif %}
        {% endif %}
    </div>
</div>
