.main-area{
    overflow-x:hidden;
}
.main-sidebar{
    background-color: $white;
    width: 300px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 999;
    box-shadow: $box-shadow;
    overflow-y: auto;
    padding:20px 30px;
    transition: $transition-base;
}
.main-content{
   padding-left: 300px;
   transition: $transition-base;
   .container{
      padding:0 100px;
   }
}
.section-label{
    background-image: url(../images/section-before.gif);
    background-position: center;
    background-size: contain;
    width: 60px;
    height: 2px;
    opacity: 0.3;
}
.main-sidebar::-webkit-scrollbar {
    width: .3rem;
}

.main-sidebar::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); 
    border-radius: 0;
}

.main-sidebar::-webkit-scrollbar-thumb {
    background-color: $success; 
    border-radius: 0;
    color:$light; 
}
.main-sidebar::-moz-selection { 
  background-color: $success; 
  color:$light;
}

.main-sidebar::selection {
  background-color: $success; 
  color:$light;
}