.timeline-item{
   .border-bottom{
         width:40px; 
    }
    .timeline-single{
        .timeline-content{
            border-width:3px !important;
            padding-left:20px;
        }
    }
}