<!DOCTYPE HTML>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

<head>
    <!-- meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- change this when website is ready to launch -->
    <meta name="robots" content="noindex">
    {% seo %}

    
    <link rel="stylesheet" href="{{'http://moehl-data-services.de/assets/css/app.min.css' }}">
    <!-- endgulp -->
    
    {% feed_meta %}

</head>

<body>
    <!--  ====================== Main Area Start =============================  -->
	
    
    {{content}}

    <!--=========== JS Add ==========-->
    <!-- gulp:js -->
    <script src="{{'http://moehl-data-services.de/assets/js/build.min.js' }}"></script>
    <!-- endgulp -->

</body>

</html>